body {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 400;
}

main {
  background: url("../images/Background.svg") repeat fixed center;
}

.back-save-scheme-nav,
.app-title,
.home-descr {
  display: flex;
  align-items: center;
  background-color: white;
  text-align: center;
  border: 1px solid #dddddd;
  border-radius: 10px;
  padding: 1rem 3.5rem;
}

.back-save-scheme-nav {
  align-items: flex-start;
}

.column {
  margin: 0 1rem;
}

h1, p {
  margin: 0;
}

.home-color {
  font-family: 'Paytone One', sans-serif;
  font-size: 4rem;
  color: #ff7878;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

.home-cookbook {
  font-weight: 400;
  font-size: 2.9rem;
  line-height: 1.5rem;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  padding-bottom: 2rem
}

.button-getcookin {
  position: absolute;
  bottom: 2rem;
  right: 1rem;
}

button,
.button {
  color: white;
  font-weight: 700;
  background-color: #ff7878;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding: 0.75rem 1rem;
  border: 0;
}

a:hover,
a:focus,
a:link {
  text-decoration: none;
  font-weight: 700;
}

.data-color,
.select-color,
.select-random {
  width: 85%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #dddddd;
  border-radius: 10px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
  padding: 1.25rem 0;
}


h2, .select-color {
  text-align: center;
  margin: 0;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-button {
  margin: 0 auto;
  margin-top: 1rem;
}

.select-color-box {
  background-color: transparent;
  width: 70%;
  height: 150px;
  margin-top: 1rem;
  border: none;
}

.data-color {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.data-color-box {
  align-items: center;
  width: 70%;
  height: 150px;
  margin-top: 1rem;
  border-radius: 6px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
}

.data-color > p {
  padding-top: 1rem;
  font-weight: 700;
}

span {
  font-weight: 400;
}

i {
  color: rgb(163, 163, 163);
}

.heart-it {
  color: rgb(230, 91, 91);
}

.back, .scheme,
.current {
  color: rgb(24, 24, 24);
}

.navigation {
  align-items: center;
  width: 100%;
  background-color: rgb(24, 24, 24);
  padding: 0 2rem;
}

.container-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 6px;
  padding: 0.5rem;
  margin: 1rem 0.5rem;
}
