body {
  font-family: 'Raleway', sans-serif;
}

main {
  background: url("../images/Background.svg") repeat fixed center;
}

.container-app-title,
.select-color,
.select-random {
  background-color: white;
  border: 1px solid #dddddd;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 80%;
  padding: 1rem 2rem 3rem;
  flex-basis: 30%;
}

h1, h3,
.select-color {
  text-align: center;
  margin: 0;
}

p {
  margin: 1rem 0 0 0;
}
.home-color {
  font-family: 'Paytone One', sans-serif;
  font-size: 4rem;
  color: #ff7878;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

.home-cookbook {
  font-weight: 400;
  font-size: 2.9rem;
  line-height: 1.5rem;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

.home-descr {
  background-color: white;
  text-align: center;
  border: 1px solid #dddddd;
  border-radius: 10px;
  width: 65%;
  padding: 1rem 1rem 1rem;
}

form {
  width: 100%;
}

.button-getcookin {
  align-self: flex-end;
  padding-right: 1rem;
}

.input-button {
  margin: 0 auto;
  margin-top: 1rem;
}

.select-color-box {
  background-color: transparent;
  width: 70%;
  height: 150px;
  margin-top: 1rem;
  border: none;
}

.data-color-box {
  width: 70%;
  height: 150px;
  margin-top: 1rem;
  border-radius: 6px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
}

button,
.button {
  background-color: #ff7878;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  color: white;
  padding: 0.75rem 1rem;
  border: 0;
}

.row.navigation {
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  background-color: rgb(24, 24, 24);
  padding: 0 2rem;
  margin-top: 1rem;
  position: relative;
}

.container-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 6px;
  padding: 0.5rem;
  margin: 1rem 0.5rem;
}

img {
  width: 100%;
  object-fit: contain;
}

i {
  color: black;
}
